body {
  font-family: 'Roboto Flex', sans-serif;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
  background-size: 200vh, 100%;
  padding: 0 10px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content h1 {
  font-size: 50px;
}
.content .bg-img {
  position: relative;
  max-width: 700px;
}
.content .bg-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.content .description {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content .description h2 {
  font-size: 45px;
  font-weight: 500;
  color: #5b8f2a;
}
.content .description .text {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.content .description .text p {
  font-size: 22px;
}
.content .description .text span {
  font-weight: bold;
  color: #f73897;
}
.content .description a {
  width: 200px;
  display: block;
  margin: 0 auto;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 18px;
  line-height: 18px;
  background: #fece2f;
  color: #373737;
  font-weight: 400;
}
@media screen and (max-width: 899px) {
  .content h1,
  .content .description h2 {
    font-size: 40px;
  }
  .content .bg-img {
    max-width: 600px;
  }
  .content .description .text p {
    font-size: 20px;
  }
  .content .description a {
    padding: 5px;
  }
}
@media screen and (max-width: 659px) {
  .content h1,
  .content .description h2 {
    font-size: 35px;
  }
  .content .bg-img {
    max-width: 550px;
  }
}
@media screen and (max-width: 539px) {
  .content h1,
  .content .description h2 {
    font-size: 27px;
  }
  .content .bg-img {
    max-width: 500px;
    margin: 20px 0;
  }
  .content .description a {
    width: 180px;
    font-size: 16px;
  }
}
@media screen and (max-width: 429px) {
  .content h1,
  .content .description h2 {
    font-size: 24px;
  }
  .content .description .text p {
    font-size: 18px;
  }
}
