body {
  font-family: 'Open Sans', sans-serif;
  color: #141c3a;
}

.slick-dots {
  bottom: -30px !important;
}

.slick-dots li button:before {
  width: 13px !important;
  height: 13px !important;
  border-radius: 50%;
  border: 2px solid #aeb9ce !important;
  color: transparent !important;
}

.slick-dots li.slick-active button:before {
  background: #7410f7 !important;
  border: 2px solid #7410f7 !important;
}

.success, .not-found {
  position: fixed;
  z-index: 9;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  p {
    margin: 20px 0;
  }
  a {
    display: inline-block;
  }
}

.show {
  visibility: visible !important;
  opacity: 1 !important;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  padding: 8px 25px;
  border: 2px solid #7410f7;
  color: #7410f7;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
  transition: .3s;
  &:hover {
    background: #7410f7;
    color: #fff;
  }
}

header.hr {
  border-bottom: 1px solid #e6ecf8;
  position: relative;
  .photo {
    position: absolute;
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      border-radius: 50%;
      overflow: hidden;
    }
  }
}

header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px !important;
  }
  .logo {
    width: 50px;
  }
  .action {
    font-size: 18px;
    .ya {
      color: #141c3a;
      margin-right: 20px;
      transition: color .3s;
      &:hover {
        color: #7410f7;
      }
    }
  }
  .icon {
    color: #7410f7;
    font-size: 30px;
  }
}

.reviews-wrapp {
  overflow: hidden !important;
}

section {
  padding: 60px 0;
  .form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      h1 {
        text-align: center;
      }
    }
    form {
      width: 700px;
      margin: 70px auto 0 auto;
      .form-wrapp {
        display: flex;
      }
      .input-wrapp {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        label {
          margin-bottom: 10px;
          color: rgba(41, 51, 71, 0.65);
        }
        input, textarea {
          width: 100%;
          padding: 10px;
          border: 1px solid #e6ecf8;
          font-size: 18px;
          border-radius: 5px;
        }
        textarea {
          resize: vertical;
          min-height: 200px;
        }
        .error {
          border: 1px solid #ffa1a1 !important;
        }
        &:first-child {
          margin-right: 20px;
        }
      }
      button {
        background: transparent;
        cursor: pointer;
        width: 200px;
        display: block;
        margin: 0 auto;
      }
    }
  }
  .title-wrapp {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    .btn {
      display: inline-block;
      margin-top: 30px;
    }
    h3 {
      position: relative;
      font-size: 35px;
      padding-bottom: 20px;
      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 100px;
        height: 1px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background: #141c3a;
      }
    }
    span {
      display: block;
      margin-top: 20px;
      font-size: 17px;
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      text-align: center;
      margin-top: 20px;
      h1 {
        font-size: 40px;
        margin-bottom: 20px;
      }
      span {
        font-size: 19px;
        color: rgba(10, 10, 10, 0.9);
      }
    }
    .portrait {
      border-radius: 50%;
      margin-top: 50px;
      width: 270px;
      max-width: 270px;
      min-width: 270px;
      height: 270px;
      max-height: 270px;
      min-width: 270px;
      overflow: hidden;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 800px;
    width: 100%;
    margin: 60px auto 0 auto;
    .skill {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      // background: #7410f7;
      background: #151c3a;
      color: #fff;
      width: fit-content;
      border-radius: 50px;
      img {
        width: 20px;
      }
      span {
        margin-left: 10px;
      }
    }
  }
  .progress-bar {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    .progress-block {
      position: relative;
      width: 100%;
      background: #eee;
      height: 30px;
      margin-top: 15px;
      .progress-title, .progress-line, .progress-info {
        position: absolute;
        height: 100%;
        top: 0;
      }
      .progress-title, .progress-line {
        left: 0;
      }
      .progress-title, .progress-info {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .progress-title {
        width: 130px;
        z-index: 2;
        background: #743cfa;
        color: #fff;
      }
      .progress-line {
        z-index: 1;
        background: rgba(117, 60, 250, 0.3);
        opacity: 0;
      }
      .progress-info {
        z-index: 3;
        right: 10px;
      }
    }
  }
  .work-wrapp {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 15px;
    .work {
      position: relative;
      height: 300px;
      border-radius: 15px;
      overflow: hidden;
      .work-info, .work-bg {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      .work-info {
        position: absolute;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        text-align: center;
        color: #fff;
        background: #151c3a;
        visibility: hidden;
        opacity: 0;
        transition: .5s;
        span, a {
          font-size: 18px;
        }
        .btn {
          margin-top: 20px;
          color: #fff;
          padding: 5px 15px;
        }
      }
      .work-bg {
        position: absolute;
        z-index: 1;
        transition: .5s;
        img {
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover;
        }
      }
      &:hover > .work-bg {
        transform: scale(1.1);
      }
      &:hover > .work-info {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  .reviews {
    display: flex;
    max-width: 700px;
    margin: 30px auto 0 auto;
    .review-item {
      padding: 20px;
      border-radius: 10px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .review-photo {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        border: 3px solid #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, .4);
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .review {
        margin-top: 30px;
        font-size: 20px;
        line-height: 30px;
      }
      .author {
        margin-top: 20px;
        font-weight: bold;
        font-size: 20px;
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

section.bg {
  position: relative;
  margin-top: 100px;
  background: #7410f7;
  .info-block {
    text-align: center;
    margin: 0 auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    background: #151c3a;
    color: #fff;
    height: 120px;
    border-radius: 15px;
    h2 {
      font-size: 28px;
    }
  }
  .desc {
    max-width: 800px;
    margin: 50px auto 0 auto;
    text-align: center;
    color: #fff;
    font-size: 20px;
    p {
      margin-top: 30px;
    }
  }
}

footer {
  margin-top: 50px;
  background: #7410f7;
  padding: 60px 0;
  .container {
    display: flex;
    justify-content: space-between;
    a {
      color: #fff;
    }
    nav {
      ul {
        display: flex;
        li {
          margin-left: 15px;
          font-size: 20px;
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}

// Анимации

.transform-0 {
  transform: translateY(50px);
  opacity: 0;
  transition: 1s;
}

.transform-show {
  transform: translateY(0px) !important;
  opacity: 1;
}

.progress-show {
  .progress-line {
    animation: progressShow 1s linear 1;
    opacity: 1 !important;
  }
}

@keyframes progressShow {
  0% {
    width: 0;
  }
}

@media screen and(max-width: 999px) {
  header .action, .btn {
    font-size: 16px;
  }
  section .info .title h1 {
    font-size: 35px;
  }
  section .info .title span {
    font-size: 18px;
  }
  section .info .portrait {
    width: 220px;
  }
  section.bg .info-block h2 {
    font-size: 25px;
  }
  section.bg .info-block {
    height: 100px;
    top: -50px;
  }
  section.bg .desc {
    margin: 30px auto 0 auto;
    font-size: 18px;
  }
  section .title-wrapp h3 {
    font-size: 30px;
  }
  section .title-wrapp span {
    font-size: 16px;
  }
  section .reviews .review-item .review {
    font-size: 18px;
    margin-top: 30px;
  }
  section .reviews .review-item .author {
    font-size: 18px;
  }
  .slick-dots li button:before {
    width: 12px !important;
    height: 12px !important;
  }
}

@media screen and(max-width: 799px) {
  section .form form {
    width: 100%;
  }
  main {
    .form-section {
      padding: 40px 0 !important;
    }
    section {
      padding: 30px 0;
      &:nth-child(1) {
        padding-top: 30px;
      }
      &:nth-child(2) {
        padding: 60px 0;
      }
      &:nth-child(3) {
        padding-top: 60px;
      }
    }
  }
}

@media screen and(max-width: 549px) {
  footer .container {
    flex-direction: column;
    align-items: center;
    .free-icons {
      margin-top: 15px;
      text-align: center;
    }
  }
}

@media screen and(max-width: 499px) {
  section.bg .info-block h2 {
    font-size: 20px;
  }
  section.bg .info-block {
    height: 80px;
    top: -40px;
  }
  section .info .title h1 {
    font-size: 28px;
  }
  header .logo {
    width: 45px;
  }
  section .work-wrapp .work .work-info span, section .work-wrapp .work .work-info a {
    font-size: 17px;
  }
  header .action .ya {
    margin-right: 15px;
  }
  .btn {
    padding: 7px 20px;
  }
  section .form form .form-wrapp {
    flex-direction: column;
  }
  section .form form {
    margin: 50px auto 0 auto;
  }
}