@font-face {
  font-family: 'Dubrovsky Modern';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/dubrovsky-modern.ttf');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Albertus Nova';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/10949.otf');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Albertus Nova';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/10950.otf');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Albertus Nova';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/10953.otf');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}