*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Albertus Nova';
  font-weight: 300;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
input,
textarea,
select,
button {
  outline: none;
  border: none;
  font-family: 'Manrope', sans-serif;
}
img {
  display: block;
  width: 100%;
}
h1, h2, h3 {
  font-family: 'Dubrovsky Modern';
}