*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background: transparent !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img {
  width: 200px;
  animation: jamp 1s linear infinite;
}

@keyframes jamp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}